# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models & Data
models/*.pkl
models/*.csv
outputs/
data/*.csv
!data/student_performance_factors.csv

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/config.toml
